<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cozi.xiaosai.mapper.dataOrigin.sys.DistributionMapper">
    <select id="selectNavigationBar" resultType="com.cozi.xiaosai.pojo.dataorigin.sys.NavigationBarPojo">
        SELECT id,navigation_bar_name navigationBarName,navigation_bar_index navigationBarIndex,create_time createTime,modify_time modifyTime FROM xiaosai_navigation_bar
        ORDER BY navigationBarIndex
    </select>
    <select id="selectSidebar" resultType="com.cozi.xiaosai.pojo.dataorigin.sys.SidebarPojo">
        SELECT id,title,href,icon,target,parent_id parentId,nav_id navId,create_time createTime,modify_time modifyTime
        FROM xiaosai_sidebar
        WHERE 1=1
        <if test="parentId != null">
            AND parent_id = #{parentId}
        </if>
        <if test="navId != null and navId != ''">
            AND nav_id = #{navId}
        </if>
    </select>
    <select id="selectMenuInfoList" resultType="com.cozi.xiaosai.pojo.dataorigin.sys.MenuInfoPojo">
        SELECT a.id,a.title,a.href,a.icon,a.target,a.parent_id parentId,a.nav_id navId,a.is_menu isMenu,b.navigation_bar_name navigationBarName,b.navigation_bar_index navigationBarIndex,a.create_time createTime,a.modify_time modifyTime
        FROM xiaosai_sidebar a,xiaosai_navigation_bar b
        WHERE a.nav_id = b.id
    </select>
    <select id="selectmenuEditData" parameterType="integer"
            resultType="com.cozi.xiaosai.pojo.dataorigin.sys.MenuInfoPojo">
        SELECT a.id,a.title,a.href,a.icon,a.target,a.parent_id parentId,a.nav_id navId,a.is_menu isMenu,b.navigation_bar_name navigationBarName,b.navigation_bar_index navigationBarIndex,a.create_time createTime,a.modify_time modifyTime
        FROM xiaosai_sidebar a,xiaosai_navigation_bar b
        WHERE a.nav_id = b.id AND a.id = #{id}
    </select>
    <update id="updatemenuinfo" parameterType="com.cozi.xiaosai.pojo.dataorigin.sys.MenuInfoPojo">
        UPDATE xiaosai_sidebar SET
        title = #{title},
        href = #{href},
        icon = #{icon},
        target = #{target}
        WHERE id = #{id}
    </update>
    <select id="selectCountByMenuInfoPojo" parameterType="com.cozi.xiaosai.pojo.dataorigin.sys.MenuInfoPojo"
            resultType="int">
        SELECT COUNT(1) FROM
        <if test="type !=null and type==1">
            xiaosai_navigation_bar
            WHERE 1=1
            <if test="mi.navId != null and mi.navId != '' and mi.navId != 0 and is ==1">
                AND id=#{mi.navId}
            </if>
            <if test="mi.navId != null and mi.navId != '' and mi.navId != 0 and is ==2">
                AND id != #{mi.navId}
            </if>
            <if test="mi.navigationBarName !=null and mi.navigationBarName != ''">
                AND navigation_bar_name = #{mi.navigationBarName}
            </if>
            <if test="mi.navigationBarIndex !=null and mi.navigationBarIndex != ''">
                AND navigation_bar_index = #{mi.navigationBarIndex}
            </if>
        </if>
        <if test="type !=null and type==2">
            xiaosai_sidebar
            WHERE 1=1
            <if test="mi.parentId != null and is ==1">
                AND parent_id = #{mi.parentId}
            </if>
            <if test="mi.parentId != null and is ==2">
                AND parent_id != #{mi.parentId}
            </if>
            <if test="mi.title != null and mi.title != ''">
                AND title = #{mi.title}
            </if>
            <if test="mi.href !=null and mi.href != ''">
                AND href = #{mi.href}
            </if>
            <if test="mi.icon != null and mi.icon != ''">
                AND icon = #{mi.icon}
            </if>
            <if test="mi.target != null and mi.target != ''">
                AND target = #{mi.target}
            </if>
        </if>

    </select>
    <insert id="insertNavigationBar" parameterType="com.cozi.xiaosai.pojo.dataorigin.sys.MenuInfoPojo" useGeneratedKeys="true" keyProperty="id">
         INSERT INTO xiaosai_navigation_bar (navigation_bar_name,navigation_bar_index,create_time,modify_time) VALUES
         (#{navigationBarName},#{navigationBarIndex},NOW(),NOW())
    </insert>
    <insert id="insertSidebar" parameterType="com.cozi.xiaosai.pojo.dataorigin.sys.MenuInfoPojo">
         INSERT INTO xiaosai_sidebar (title,href,icon,target,is_menu,parent_id,nav_id,create_time,modify_time) VALUES
         (#{title},#{href},#{icon},#{target},#{isMenu},#{parentId},#{navId},NOW(),NOW())
    </insert>
    <select id="selectMixIndex" resultType="int">
        SELECT MAX(navigation_bar_index) FROM xiaosai_navigation_bar
    </select>
    <delete id="deleteBar" parameterType="integer">
        DELETE FROM xiaosai_navigation_bar WHERE id = #{navId}
        DELETE FROM xiaosai_sidebar WHERE nav_id = #{navId}
    </delete>
    <delete id="deleteBarByidAndnavid" parameterType="string">
        DELETE FROM xiaosai_sidebar WHERE id IN (${ids})
    </delete>

</mapper>