<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cozi.xiaosai.mapper.dataOrigin.sys.DistributionMapper">
    <select id="selectNavigationBar" resultType="com.cozi.xiaosai.pojo.dataorigin.sys.NavigationBarPojo">
        SELECT id,navigation_bar_name navigationBarName,navigation_bar_index navigationBarIndex,create_time createTime,modify_time modifyTime FROM xiaosai_navigation_bar
        ORDER BY navigationBarIndex
    </select>
    <select id="selectSidebar" resultType="com.cozi.xiaosai.pojo.dataorigin.sys.SidebarPojo">
        SELECT id,title,href,icon,target,parent_id parentId,nav_id navId,create_time createTime,modify_time modifyTime FROM xiaosai_sidebar
        WHERE 1=1
        <if test="parentId != null">
            AND parent_id = #{parentId}
        </if>
        <if test="navId != null and navId != ''">
            AND nav_id = #{navId}
        </if>
    </select>
    <select id="selectMenuInfoList" resultType="com.cozi.xiaosai.pojo.dataorigin.sys.MenuInfoPojo">
        SELECT a.id,a.title,a.href,a.icon,a.target,a.parent_id parentId,a.nav_id navId,a.is_menu isMenu,b.navigation_bar_name navigationBarName,b.navigation_bar_index navigationBarIndex,a.create_time createTime,a.modify_time modifyTime
        FROM xiaosai_sidebar a,xiaosai_navigation_bar b
        WHERE a.nav_id = b.id
    </select>
    <select id="selectmenuEditData" parameterType="integer" resultType="com.cozi.xiaosai.pojo.dataorigin.sys.MenuInfoPojo">
        SELECT a.id,a.title,a.href,a.icon,a.target,a.parent_id parentId,a.nav_id navId,a.is_menu isMenu,b.navigation_bar_name navigationBarName,b.navigation_bar_index navigationBarIndex,a.create_time createTime,a.modify_time modifyTime
        FROM xiaosai_sidebar a,xiaosai_navigation_bar b
        WHERE a.nav_id = b.id AND a.id = #{id}
    </select>

</mapper>