<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cozi.xiaosai.mapper.dataOrigin.sys.UserMapper">
    <resultMap id="result_map" type="com.cozi.xiaosai.pojo.dataorigin.sys.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="mail" property="mail" jdbcType="VARCHAR"/>
        <result column="id_num" property="idNum" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectUser" parameterType="string" resultType="com.cozi.xiaosai.pojo.dataorigin.sys.User">
        SELECT id,user_id,name,user_name,password,age,gender,telephone,mail,id_num,create_time,modify_time
        FROM xiaosai_user
        WHERE user_id=#{userId}
    </select>
    <insert id="insertUser" parameterType="com.cozi.xiaosai.pojo.dataorigin.sys.User" >
        INSERT INTO xiaosai_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId!=null and userId!=''">
                user_id,
            </if>
            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="userName!=null and userName!=''">
                user_name,
            </if>
            <if test="password!=null and password!=''">
                password,
            </if>
            <if test="age!=null">
                age,
            </if>
            <if test="gender!=null and gender!=''">
                gender,
            </if>
            <if test="telephone!=null and telephone!=''">
                telephone,
            </if>
            <if test="mail!=null and mail!=''">
                mail,
            </if>
            <if test="idNum!=null and idNum!=''">
                id_num,
            </if>
            create_time,
            modify_time,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="userId!=null and userId!=''">
                #{userId},
            </if>
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="userName!=null and userName!=''">
                #{userName},
            </if>
            <if test="password!=null and password!=''">
                #{password},
            </if>
            <if test="age!=null">
                #{age},
            </if>
            <if test="gender!=null and gender!=''">
                #{gender},
            </if>
            <if test="telephone!=null and telephone!=''">
                #{telephone},
            </if>
            <if test="mail!=null and mail!=''">
                #{mail},
            </if>
            <if test="idNum!=null and idNum!=''">
                #{idNum},
            </if>
            NOW(),
            NOW(),
        </trim>
    </insert>

    <update id="updateUser" parameterType="com.cozi.xiaosai.pojo.dataorigin.sys.User">
        UPDATE xiaosai_user
        SET
        <trim suffixOverrides=",">
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="userName!=null and userName!=''">
                user_name=#{userName},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="age!=null">
                age=#{age},
            </if>
            <if test="gender!=null and gender!=''">
                gender=#{gender},
            </if>
            <if test="telephone!=null and telephone!=''">
                telephone=#{telephone},
            </if>
            <if test="mail!=null and mail!=''">
                mail=#{mail},
            </if>
            <if test="idNum!=null and idNum!=''">
                id_num=#{idNum},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            modify_time=NOW(),
        </trim>
        WHERE user_id=#{userId}
    </update>
    <update id="updateUserByUP" parameterType="com.cozi.xiaosai.pojo.dataorigin.sysParams.UserEditParams">
        UPDATE xiaosai_user SET
        <trim suffixOverrides=",">
            <if test="userName!=null and userName!=''">
                user_name=#{userName},
            </if>
            <if test="telephone!=null and telephone!=''">
                telephone=#{telephone},
            </if>
            <if test="mail!=null and mail!=''">
                mail=#{mail},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            modify_time=NOW(),
        </trim>
        WHERE id=#{id}
    </update>
    <update id="updatePassword" parameterType="com.cozi.xiaosai.pojo.dataorigin.sys.User">
        UPDATE xiaosai_user SET
        password=#{password}
        WHERE id=#{id}
    </update>
    <delete id="deleteUser" parameterType="string">
         DELETE FROM xiaosai_user WHERE user_id=#{userId}
    </delete>
    <select id="userCountByUserName" parameterType="string" resultType="int">
         SELECT COUNT(id) FROM xiaosai_user WHERE user_name=#{userName}
    </select>
    <select id="userByUserName" parameterType="string" resultType="com.cozi.xiaosai.pojo.dataorigin.sys.User">
         SELECT id,user_id userId,name,user_name userName,password,age,gender,telephone,mail,id_num idNum,address,remark,create_time createTime,modify_time modifyTime FROM xiaosai_user WHERE user_name=#{userName}
    </select>
    <select id="selectUserListByUser" parameterType="com.cozi.xiaosai.pojo.dataorigin.sysParams.UserParams" resultType="com.cozi.xiaosai.pojo.dataorigin.sys.User">
         SELECT id,user_id userId,name,user_name userName,age,gender,telephone,mail,id_num idNum,create_time createTime,modify_time modifyTime FROM xiaosai_user WHERE 1=1
         <if test="name != null and name != ''">
             AND name LIKE CONCAT('%',#{name},'%')
         </if>
        <if test="userName != null and userName != ''">
            AND user_name LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="telephone != null and telephone != ''">
            AND telephone LIKE CONCAT('%',#{telephone},'%')
        </if>
        <if test="mail != null and mail != ''">
            AND mail LIKE CONCAT('%',#{mail},'%')
        </if>
        <if test="address != null and address != ''">
            AND address LIKE CONCAT('%',#{address},'%')
        </if>
    </select>
    <delete id="delBatchUser" parameterType="string">
         DELETE FROM xiaosai_user WHERE user_id IN (${userIds})
    </delete>
</mapper>